.panda-slide{
    background-color:#fceae8;
    border-radius: 1em;
}
.panda-footer{
    border:0;
    background-color: white;
}
.panda-card{
    border:0;
}
.submit-section{
    background-color: #fceae8;
}
.button-modify{
    border-radius: 1em;
}